<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Список метрик</title>
</head>
<body>
    <h1>Список метрик</h1>
    <ul>
        {{range .}}
        <li>{{.}}</li>
        {{end}}
    </ul>
</body>
</html>
